<!-- General Patient Info -->
<h1>Patient Profile</h1>

<div class="row justify-content-center">
  <div class="col-md-7">
    <table class="table" align="center">
      <tbody>
        <tr>
          <td>
            <!-- ?. is a safety operator for binding properties that don't exist on first render -->
            <b>Full Name</b>: {{ user?.name }}</td>
          <td style="padding-left: 40px">
            <b>Email</b>: {{ user?.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Motivation sent by nurses -->
<h3>Motivation From the Lovely Nurses</h3>
<div class="row justify-content-center" *ngIf='this.user?.receivedMotivation.length==0'>
  <p>This is a new patient. There are currently no motivational tips sent by nurses...</p>
</div>

<div class="row justify-content-center" *ngIf='this.user?.receivedMotivation.length>0'>
  <div class="col-md-7">
    <table class="table" align="center">
      <tbody>
        <tr>
          <td>
            <b>Full Name</b>: {{ user?.name }}</td>
          <td style="padding-left: 40px">
            <b>Email</b>: {{ user?.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Recorded Vital Signs from Previous Clinical Visits -->
<h3>History of Vital Signs</h3>
<div class="row justify-content-center" *ngIf='this.user?.vitalSigns.length==0'>
  <p>This is a new patient. There are currently no previous vital signs recorded...</p>
</div>

<div class="row justify-content-center" *ngIf='this.user?.vitalSigns.length>0'>
  <div class="col-md-7">
    <table class="table" align="center">
      <tbody>
        <tr>
          <td>
            <b>Full Name</b>: {{ user?.name }}</td>
          <td style="padding-left: 40px">
            <b>Email</b>: {{ user?.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Record of Emergency Alerts Sent -->
<h3>Emergency Alerts</h3>
<div class="row justify-content-center" *ngIf='this.user?.sentEmergencyAlerts.length==0'>
  <p>This is a new patient. There are currently emergency alerts sent...</p>
</div>

<div class="row justify-content-center" *ngIf='this.user?.sentEmergencyAlerts.length>0'>
  <div class="col-md-7">
    <table class="table" align="center">
      <tbody>
        <tr>
          <td>
            <b>Full Name</b>: {{ user?.name }}</td>
          <td style="padding-left: 40px">
            <b>Email</b>: {{ user?.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>