<h1>Login</h1>

<!-- # is variable declaration in ng -->
<form #f='ngForm' [ngClass]="{'was-validated': f.submitted}" (ngSubmit)="f.form.valid && login()" novalidate>
  <!-- Email Address -->
  <div class=" form-group row">
    <div class="col-4 text-right ">
      <label>Email:</label>
    </div>
    <div class="col-md-5 ">
      <input type="text" class="form-control " required [(ngModel)]="credentials.email" name="email" placeholder="Enter email">
      <div class="invalid-feedback text-left">Email is required!</div>
    </div>
  </div>

  <!-- Password -->
  <div class="form-group row">
    <div class="col-4 text-right ">
      <label>Password:</label>
    </div>
    <div class="col-md-5">
      <input type="password" class="form-control " required [(ngModel)]="credentials.password" name="password" placeholder="Password"
      />
      <div class="invalid-feedback text-left">Password is required!</div>
    </div>
  </div>

  <!-- Buttons -->
  <button type="submit " class="btn btn-outline-success ">
    <i class="fa fa-sign-in "></i> Login
  </button>
  <a routerLink="/register" class="btn btn-outline-info">
    <i class="fa fa-user-plus "></i> Register</a>
</form>