<!-- Nurse Home View -->
<div class="container" *ngIf='this.authService.isNurse()'>
    <div class="row">
        <div class="col-md">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Emergency Alerts</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Respond to your patient's distress calls!</h6>
                    <img class="card-img-top" src="../../assets/student-management.png" alt="Student Management System Picture">
                    <p class="card-text">This component of the system allows nurses to view all emergency alerts sent to them from patients. In
                        addition nurses are able to respond to patient's distress signals, and mark them as closed when the
                        issue has been resolved.</p>
                    <a routerLink='/home' class="card-link btn btn-primary">Click to Continue</a>
                </div>
            </div>
        </div>
        <div class="col-md">

            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Patients Managment</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Manage the details of every registered patient.</h6>
                    <img class="card-img-top" src="../../assets/course-management.png" alt="Course Management System Picture">
                    <p class="card-text">This component of the system allows nurses to view the details of every patient, enter vital signs for
                        the patient as well as send daily motivational tips to the patient.</p>
                    <br>
                    <a routerLink='/courses' class="card-link btn btn-primary">Click to Continue</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end nurse home view -->

<!-- Patient Home View -->
<div class="container" *ngIf='!this.authService.isNurse()'>
    <div class="row">
        <div class="col-md">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Manage your profile information!</h6>
                    <img class="card-img-top" src="../../assets/student-management.png" alt="Student Management System Picture">
                    <p class="card-text">This component of the system allows patients to manage all information stored in the system related to
                        him/herself such as history of vital signs from previous clinical visits, records of all emergency
                        alerts sent and motivational tips sent by nurses.</p>
                    <a routerLink='/profile' [queryParams]="{id: user._id}" class="card-link btn btn-primary">Click to Continue</a>
                </div>
            </div>
        </div>
        <div class="col-md">

            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Super Smart Tool</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Not sure if you should seek healthcare attention? Come find out!</h6>
                    <img class="card-img-top" src="../../assets/course-management.png" alt="Course Management System Picture">
                    <p class="card-text">This component of the system allows patients to enter their symptoms and the tool will smartly predict
                        whether the patient needs to consult healthcare providers for assistance.</p>
                    <br>
                    <a routerLink='/courses' class="card-link btn btn-primary">Click to Continue</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end patient home view -->