<div class="container-fluid text-center">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a routerLink="/home" class="navbar-brand">Healing Hands</a>
        <span *ngIf='this.authService.isLoggedIn()'>Logged in as {{this.authService.getUser().name}} ({{this.authService.getUser().type}})
        </span>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf='this.authService.isLoggedIn()'>
                    <a class="nav-link" routerLink='/home' routerLinkActive='active'>Home</a>
                </li>
                <li class="nav-item" *ngIf='this.authService.isLoggedIn()'>
                    <a class="nav-link" routerLink='/profile' [queryParams]="{id: authService.getUser()._id}" routerLinkActive='active'>Profile</a>
                </li>
                <li class="nav-item" *ngIf='this.authService.isLoggedIn()'>
                    <a class="nav-link" routerLink='/emergency' routerLinkActive='active'>Emergency Alerts</a>
                </li>
                <li class="nav-item" *ngIf='this.authService.isLoggedIn() && !this.authService.isNurse()'>
                    <a class="nav-link" routerLink='/motivation' routerLinkActive='active'>Motivation</a>
                </li>
                <li class="nav-item" *ngIf='this.authService.isLoggedIn() && !this.authService.isNurse()'>
                    <a class="nav-link" routerLink='/home' routerLinkActive='active'>Super Smart Tool </a>
                </li>
                <li class="nav-item dropdown" *ngIf='this.authService.isLoggedIn() && this.authService.isNurse()'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Patients Management
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" routerLink='/patients'>List All Patients</a>
                    </div>
                </li>
                <li class="nav-item" *ngIf='!this.authService.isLoggedIn()'>
                    <a class="nav-link" routerLink='/login' routerLinkActive='active'>Login</a>
                </li>
                <li class="nav-item" *ngIf='this.authService.isLoggedIn()'>
                    <a class="nav-link" (click)="authService.logout()">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <img alt="Hospital Banner" src="../assets/app-banner.png" style="width:100%;">
    <div style="margin-bottom: 24px;"></div>

    <div class="container">
        <div class="panel panel-primary">
            <!-- allows displaying alert msgs from anywhere in the system -->
            <app-alert></app-alert>
            <!-- displays contents of each view based on the current route -->
            <router-outlet></router-outlet>
        </div>
    </div>

    <!--Footer-->
    <footer class="page-footer font-small blue pt-4 mt-4">

        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright:
            <a href="https://github.com/kbmakevin/comp308-w2018-project"> KeVin Solutions </a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

</div>